@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Open+Sans:wght@300&display=swap");
.App {
  text-align: center;
}
h1,
p {
  text-shadow: 2px 2px #000000;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
h1 {
  font-family: "rubik", sans-serif;
  font-weight: 300;
}
::selection {
  background-color: red;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 14px;
  border: 1px solid #000000;
  border-radius: 0.12em;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: rgba(26, 24, 34, 0.801);
  text-align: center;
  transition: all 0.15s;
  border-radius: 3px;
}
.btn:hover {
  background-color: rgba(26, 24, 34);
}
.colorpickers {
  display: flex;
  padding: 25px;
}
/* removes chrome color swatch border */
input[type="color"]::-webkit-color-swatch {
  border: none;
}
/* remove firefox color swatch border*/
input::-moz-color-swatch {
  border: none;
}
.colorpickers {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
#colorpicker {
  margin: 20px;
  width: 60px;
  height: 44px;
  border: 1px solid black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
}

.copyP {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(26, 24, 34, 0.801);
  border-radius: 3px;
  padding: 0px 20px;
  cursor: pointer;
  transition: all 0.15s;
}
.copyP:hover {
  background-color: rgba(26, 24, 34, 1);
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: rgba(26, 24, 34, 0.801);
  color: #fff;
  text-align: center;
  padding: 3px 0;
  text-shadow: 2px 2px #000000;
  font-size: 18px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  bottom: 115%;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.App-header {
  min-height: 100vh;
  width: 800px;
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
